.projects-container {
  min-height: 70vh;
}

.header {
  font-size: 84px;
  font-weight: 800;
  color: var(--primary-color);
}
.big-list {
  font-size: 42px;
  font-weight: 600;
}

.project-a,
.project-a:hover {
  text-decoration: none;
  color: var(--primary-color);
}
