.App {
  text-align: center;
}

nav {
  /* box-shadow: 0px 3px 20px #00000010; */
  /* border-bottom: 1px solid black; */
  height: 10vh;
  font-size: 14px;
  font-weight: 500;
}
main {
  min-height: 80vh;
}
.nav-link {
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.nav-link:hover {
  color: #ffdb04;
  /* transition */
}
.yellow {
  color: #ffdb04;
}
.hero-border-right {
  border-right: 2px solid black;
}
