@import url("../index.css");

nav {
  height: 10vh;
  font-size: 14px;
  font-weight: 500;
}
.nav-a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}
.nav-a:hover {
  text-decoration: none;
  color: var(--primary-color);
}
.nav-link {
  transition: all 0.15s ease-in-out;
  font-size: 1rem;
  text-decoration: none;
}
/* .nav-link:hover {
  
} */
.secondary-link {
  cursor: pointer !important;
}
.nav-link.secondary-link:hover {
  transform: rotate(5deg);
}
.secondary {
  color: var(--secondary-color);
}
.tertiary {
  color: var(--tertiary-color);
}
.home-link {
  font-size: 1.4rem;
}
